{deps, [
  {cowboy, "0.*", {git, "git@github.com:extend/cowboy.git", "master"}},
  {jiffy, "0.*", {git, "git@github.com:davisp/jiffy.git", "master"}},
  {eredis, "1.*", {git, "git://github.com/wooga/eredis.git", "master"}},
  {uuid, ".*", {git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}},
  {bcrypt, "0.4.*", {git, "git://github.com/smarkets/erlang-bcrypt.git",{tag, "0.4.1"}}}
]}.
